@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&family=Padauk:wght@400;700&display=swap');

// Variables
@import 'variables';

@import "~@fortawesome/fontawesome-free/css/all.min.css";

// Bootstrap Edit
.breadcrumb-item{
    a{
        text-decoration: none;
    }
}

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// swal config
$swal2-confirm-button-background-color : $primary;
@import "~sweetalert2/src/sweetalert2";


@import "~venobox/dist/venobox.min.css";


.brand-logo{
    filter: drop-shadow(0px 1px 0 #00000030);
}

.sidebar{

}

.sidebar ul{
    list-style: none;
    padding: 0;
}

.sidebar ul li{
    margin-bottom: 3px;
}
.sidebar-spacer{
    height: 20px;
}
.sidebar-link{
    display: block;
    padding: 10px;
    text-decoration: none;
    border-radius: 0.25rem;
    font-size: 12px;
    color: var(--bs-dark);
    transition: background-color 0.5s;
}
.sidebar-link.active{
    background: #0D6EFD20;
    color: var(--bs-primary);
}
.sidebar-link:hover{
    background: #0D6EFD35;
    color: var(--bs-primary);
}
.sidebar-link-icon{
    margin-right: 10px;
}
.sidebar-group-title{
    margin: 0;
    padding:10px;
    font-weight: bold;
}
